@charset "UTF-8";

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  list-style: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;

  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*:not(:defined) {
  display: none;
}

body {
  background-color: var(--bg);
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

::selection {
  background: none;
}

tabs-list {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg);
}
